<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;Deleting node&quot;
java -jar /var/lib/jenkins/jenkins-cli.jar -s http://172.31.47.30:8080/ -auth ksp:admin123 delete-node ApacheServer

sleep 5

echo &quot;Adding node&quot;
/var/lib/jenkins/create-jenkins-node.sh &quot;http://$(aws ec2 describe-instances --filters &quot;Name=tag:Name,Values=MasterServer&quot; &quot;Name=instance-state-name,Values=running&quot; --query &apos;Reservations[*].Instances[*][PrivateIpAddress]&apos; --output text):8080&quot; &quot;$(aws ec2 describe-instances --filters &quot;Name=tag:Name,Values=ApacheServer&quot; &quot;Name=instance-state-name,Values=running&quot; --query &apos;Reservations[*].Instances[*][Tags[?Key==`Name`].Value]&apos; --output text)&quot; &quot;$(aws ec2 describe-instances --filters &quot;Name=tag:Name,Values=ApacheServer&quot; &quot;Name=instance-state-name,Values=running&quot; --query &apos;Reservations[*].Instances[*][PrivateIpAddress]&apos; --output text)&quot; &quot;$(java -jar /var/lib/jenkins/jenkins-cli.jar -s http://172.31.47.30:8080/ -auth ksp:admin123 list-credentials system::system::jenkins | grep ApacheServer | awk -F &quot; &quot; &apos;{ print $1 }&apos;)&quot;

sleep 5

echo &quot;Get node&quot;
java -jar /var/lib/jenkins/jenkins-cli.jar -s http://172.31.47.30:8080/ -auth ksp:admin123 get-node ApacheServer</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>