<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.31">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <jenkins.triggers.ReverseBuildTrigger>
          <spec></spec>
          <upstreamProjects>job-add-node,</upstreamProjects>
          <threshold>
            <name>SUCCESS</name>
            <ordinal>0</ordinal>
            <color>BLUE</color>
            <completeBuild>true</completeBuild>
          </threshold>
        </jenkins.triggers.ReverseBuildTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.63">
    <script>node(&apos;ApacheServerSLV&apos;) {
   stage(&apos;SCM&apos;) {
       // git clone
       git &apos;https://github.com/ksphub/webapp.git&apos;
       }  
   stage (&apos;build the packages&apos;) {
       // mvn package
       sh label: &apos;&apos;, script: &apos;mvn package&apos;
       }
   stage (&apos;archival&apos;) {
       // archiving artifacts2
       archiveArtifacts &apos;target/*.war&apos;
       }
   stage (&apos;deploy2apache&apos;) {
       // Deployment Apache
       sh label: &apos;&apos;, script: &apos;sudo cp target/WebApp.war /opt/tomcat/webapps/&apos;
       }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>